<html>

<head>
    <title>Ratatoulle | Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="src/styles.css" rel="stylesheet">
</head>

<body>
  <nav class="nav-bar-login">
    <ul>
      <li><a href="login.html">Log In</a></li>
      <li><a href="signup.html">Sign Up</a></li>
    </ul>
  </nav>

    <main class="login-main">
  <div class="login-card">
    <h2>Login</h2>
    <p id="error-message"></p>

    <div class="login-form-group">
      <label for="username">Username / Email</label>
      <input type="text" id="username" name="username" placeholder="Bo0oda / abcd@gmail.com">
    </div>
    <div class="login-form-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" placeholder="••••••••">
    </div>

    <button type="submit" class="btn-login" form="user-form">Login</button>

    <div class="login-footer">
      Don't have an account? <a href="signup.html">Sign up</a>
    </div>
  </div>
</main>
<script src="src/login.js"></script>
</body>

</html>
